<!-- <div class="app-container">
  <div class="background-image"></div>
  <div class="black-film"></div>
  <div class="content">
    <div class="main-content">
      <div class="text-page-title welcome-style">Cornwallia</div>
      <div class="intro-style text-mini-header logo-style">A Family App Portal</div>
      <a [href]="loginURL" class="button btnBorder btnGray login-button-style text-section-title clickable">Login</a>
    </div>
  </div>
</div> -->

<div class='navbar'>
  <a routerLink="/home" (click)="clearSelectedApp()" class="text-sub-title logo-style clickable">Cornwallia</a>
</div>
<div class="header-area">
  <a [href]="loginURL" class="button btnBorder btnGray login-button-style text-section-title clickable">Login</a>
</div>