<div class="app-container">
  <div class="background-image"></div>
  <div class="black-film"></div>
  <div class="content">
    <div class="main-content">
      <div class="text-page-title welcome-style">Welcome to Cornwallia</div>
      <div class="text-paragraph intro-style intro-paragraph-container">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </div>
      <a [href]="loginURL" class="button btnBorder btnGray login-button-style text-section-title clickable">Login</a>
    </div>
  </div>
</div>
