<div class='navbar'>
  <a routerLink="/login" class="text-sub-title logo-style clickable">Cornwallia</a>
</div>
<div class="header-area">
  <div class="header-left">
    <div class="header-question-line">Do you need a better wish list?</div>
    <div class="header-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
    <div class="header-button-container">
      <div class="started-button clickable">Get Started</div>
      <div class="demo-button clickable">Request Demo</div>
    </div>
  </div>
  <div class="header-right">

  </div>
  <a [href]="loginURL" class="button btnBorder btnGray login-button-style text-section-title clickable">Login</a>
</div>
