# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/client-dev/dist-server
/client-dev/tmp
/client-dev/out-tsc

# dependencies
/server/node_modules
/client-dev/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/client-dev/e2e/*.js
/client-dev/e2e/*.map

# System Files
.DS_Store
Thumbs.db

# configs
/client-dev/src/app/services/auth/auth0-variables.ts

# server
/server/.env