@import "../../../assets/styles/_colors";
@import "../../../assets/styles/_typography";
@import "../../../assets/styles/_ui-features";

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  background-image: url('../../../assets/photos/dark-background.jpg')
}

.applications {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
}

.apps-text-style {
  color: $white;
}

.app-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
}

.app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0px 20px 0px;
  width: 250px;
  min-width: 250px;
  height: 250px;
  min-height: 250px;
  background-color: blue;
}
