<div class="container">
  <app-card 
    [appName]="'wishes'" 
    [title]="'Wishes'"
    [caption]="'Family gift giving portal'">
  </app-card>
  <app-card 
    [appName]="'lanParty'" 
    [title]="'LAN Party Planner'"
    [caption]="'Plan/Get Ready for LAN parties'">
  </app-card>
  <app-card 
    [appName]="'calendar'" 
    [title]="'Family Calendar'"
    [caption]="'Keep track of family events'">
  </app-card>
  <div class="app">App4</div>
  <div class="app">App5</div>
  <div class="app">App6</div>
</div>
