<div class="container">
  <div class="content">
      <div class="label-style text-sub-title logo-style">Select A Family:</div>
      <div class="card-container">
        <filter-card [title]="'Rob & Shari'" *ngIf="family1Access"></filter-card>
        <filter-card [title]="'Kyle & Jodi'" *ngIf="family3Access"></filter-card>
        <filter-card [title]="'Kevin & Kendal'" *ngIf="family1Access"></filter-card>
        <filter-card [title]="'Drew'" *ngIf="family1Access"></filter-card>
      </div>
  </div>
</div>
