<div class="container">
  <div class="content" *ngIf="viewMode === 'overall'">
      <div class="label-style text-sub-title logo-style">Select A Family:</div>
      <div class="card-container">
        <a [routerLink]="['robshari']" (click)="setViewToFamily()">
          <filter-card [title]="'Rob & Shari'" *ngIf="family1Access"></filter-card>
        </a>
        <a [routerLink]="['kylejodi']" (click)="setViewToFamily()">
          <filter-card [title]="'Kyle & Jodi'" *ngIf="family3Access"></filter-card>
        </a>
        <a [routerLink]="['kevinkendal']" (click)="setViewToFamily()">
          <filter-card [title]="'Kevin & Kendal'" *ngIf="family1Access"></filter-card>
        </a>
        <a [routerLink]="['/wishes/landing/wishlist']" (click)="setWishUserID(11)">
          <filter-card [title]="'Drew'" *ngIf="family1Access"></filter-card>
        </a>
        <filter-card [title]="'Julie'" *ngIf="family2Access"></filter-card>
        <a [routerLink]="['troyalison']" (click)="setViewToFamily()">
          <filter-card [title]="'Troy & Alison'" *ngIf="family2Access"></filter-card>
        </a>
      </div>
  </div>
  <div class="content" *ngIf="viewMode === 'family'">
    <router-outlet></router-outlet>
  </div>
</div>
