@import "../../../../../assets/styles/_colors";
@import "../../../../../assets/styles/_typography";
@import "../../../../../assets/styles/_ui-features";

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  min-width: 600px;
  margin-top: 10px;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  width: 80%;
  min-width: 600px;
}

.left-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  width: 80%;
}

.right-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  width: 20%;
  margin-left: 10px;
}

.title-style {
  color: $offblack;
  margin-bottom: 10px;
}

.add-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: $green;
  border-radius: 5px;
  width: 200px;
  padding: 15px;
  margin-bottom: 10px;
}

.add-button:hover {
  background-color: #00753e;
  transition: 1s;
}

.button-text-style {
  color: $white;
  font-size: 20px;
}
