@import "../../../../../assets/styles/_colors";
@import "../../../../../assets/styles/_typography";
@import "../../../../../assets/styles/_ui-features";

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  min-width: 600px;
  margin-top: 10px;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  width: 80%;
  min-width: 600px;
}
